<section data-ng-controller="HomeController">
	<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">
	        <div class="inner cover">
	        	<img class="logo" src="modules/core/img/brand/logoChatra.png" height="150"/>
	        	<br>
	            <img class="title" src="modules/core/img/brand/chatraTitle.png" height="50"/>
	            <p class="lead">An Educational Coding Experience for Women</p>
	            <p class="lead button">
	              	<a href="/#!/signup" class="btn btn-lg btn-default">Join our Beta</a>
	            </p>
	        </div>
        </div>
      </div>
    </div>
</section>
