.content {
	margin-top: 100px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}
/*
 * Globals
 */
/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/*
 * Base structure
 */

html,
body {
  height: 100vh;
  background-color: #000;
  margin: 0;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.intro{
  background-image: url("img/intro.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}
.title{
  margin: 50px 0;
}
.button{
  margin-top: 50px;
}
.toplogo{
  position: absolute;
  top: 5px;
  left: 20px;
}
.toptitle{
  position: absolute;
  top: 15px;
  left: 65px;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

/*
 * Cover
 */

.cover {
  padding: 0 20px;
  color: #fff;

}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}
